@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}

body {
    background: linear-gradient(136deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
    width: 100%;
    min-height: 100vh;
    padding: 12px 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

header nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #F8F8FD;
    text-decoration: none;
    position: relative;
}

.underline::after {
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
    background-color: #F8F8FD;
    transition: 0.3s ease;
}

.underline:hover::after {
    width: 100%;
}

.btn-link {
    padding: 10px 20px;
    border-radius: 41px;
    border: 1px solid #F8F8FD;
}

.btn-link:hover {
    opacity: .7;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 105px;
}

.container-left {
    width: 50%;
    height: 550px;
    position: relative;
}

.container-left img {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: -50px;
    animation: move_abobora 2s infinite alternate ease-in-out;
}

.container-let-info {
    position: absolute;
    bottom: 0px;
    left: 50PX;

    padding-right: 20px;
    border-right: 1px solid #a7de93;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85px;
}

.container-let-info::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a7de93;
    position: absolute;
    right: -6px;
    top: -8px;
}

.container-let-info p:first-child {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 180%;
}

.container-let-info p:last-child {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}



.container-rigth {
    width: 50%;
    margin-top: 30px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.container-rigth h2 {
    color: #F8F8FD;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.container-rigth-info p:first-child {
    color: #FFF;
    font-size: 68px;
    font-weight: 900;
    line-height: 109%;
}

.container-rigth-info p:last-child {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
}

.container-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.container-actions button {
    width: 169px;
    height: 83px;
    background-image: url(../img/Btn-primary.svg);
    background-color: transparent;
    border: 0;
    cursor: pointer;

    color: #303056;
    font-size: 15px;
    font-weight: 600;
}

.container-actions button:hover {
    opacity: .8;
    color: #ffffff;
}

.container-actions a {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFF;
    text-decoration: none;
}

.container-actions a:hover {
    opacity: .8;
}

.btn-ghost {
    background-color: transparent;
    background-image: url(../img/Btn-secondary.svg);
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    width: 188px;
    height: 91px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
}

.btn-ghost:hover {
    opacity: .8;
    color: #303056;
}

@keyframes move_abobora {
    from {
        transform: translate(-5%, -5%) rotate(15deg);
    }

    to {
        transform: translate(0, 0) rotate(-15deg);
    }

}


@media screen and (max-width: 1000px) {
    .container-rigth-info p:first-child {
        font-size: 48px;
    }

    section {
        margin-top: 0;
    }
}

@media screen and (max-width: 840px) {
    body {
        padding: 15px;
    }

    header nav {
        display: none;
    }

    section {
        flex-direction: column;
        gap: 30px;
    }

    .container-left {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .container-rigth {
        width: 100%;
        max-width: 100%;
        align-items: center;
    }

    .container-rigth-info {
        text-align: center;
    }

    .container-actions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

}

@media screen and (max-width: 570px) {
    .container-left img {
        left: 0;
        bottom: 0;
        top: 0;
        width: 80%;
    }

}

@media screen and (max-width: 545px) {
    .container-left {
        width: 100%;
    }

}

@media screen and (max-width: 490px) {
    .container-left {
        height: 490px;
    }

}